@model CompaniesServiceModel

<partial name="DefineServiceToCompanySet" />

    <div id="accordion">
        <div class="card shadow mt-5">
            <div class="card-header bg-dark">
                <a href="#collapseCompanyCreate" class="card-link p-1" data-toggle="collapse">
                    Companies Services
                </a>
            </div>
            <div id="collapseCompanyCreate" class="collapse show">
                <div class="card-body">
                    <div class="row">

                        @if (Model.Companies.Count() > 0)
                        {
                            @foreach (var company in Model.Companies)
                            {
                                <table id="dataTable" class="table table-bordered mt-3">
                                    <thead>
                                        <tr>
                                            <td style="width:800px;" class="font-weight-bold">Company Name</td>
                                            <td style="width:800px;">@company.Name</td>
                                            <td style="width:min-content" class="text-right"> <a href="/Admin/DefineServiceToCompanySet/@company.Id" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th style="width:250px;">
                                                Services
                                            </th>
                                            <th colspan="2" style="width:250px;">
                                                Description
                                            </th>

                                        </tr>

                                        @if (Model.CompaniesService.Count() > 0)
                                        {

                                            @foreach (var services in Model.Services)
                                            {
                                                @foreach (var companyService in Model.CompaniesService)
                                                {
                                                    @if (companyService.CompanyId == company.Id && companyService.ServiceId == services.Id)
                                                    {
                                                        <tr>
                                                            <td style="width:150px">
                                                                @services.ServiceName
                                                            </td>
                                                            <td style="width:150px">
                                                                @services.ServiceDescription
                                                            </td>
                                                        </tr>
                                                    }

                                                }

                                            }



                                        }
                                        else
                                        {
                                            <tr>
                                                <td style="width:150px">
                                                    No Services
                                                </td>
                                            </tr>
                                        }


                                    </tfoot>
                                </table>

                            }
                        }
                        else
                        {
                            <div class="alert alert-warning">
                                <h3>No Companies</h3>
                            </div>
                        }


                    </div>

                </div>
            </div>
        </div>
    </div>