@model IEnumerable<IdentityRole>
@section Scripts{
    <script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}
<div class="card mt-5 shadow">
    <div class="card-header bg-dark">
        Admin User Role List
    </div>
    <div class="card-body">
        <table id="dataTable" class="table table-bordered mt-3">
            <thead>
                <tr>
                    <td>Id</td>
                    <td style="width:30px;">RoleName</td>
                    <td style="width:max-content;">Options</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td style="width:20px;">@role.Id</td>
                            <td style="width:150px;">@role.Name</td>
                            <td style="width:20px;">
                                <a href="/Admin/UsersRole/@role.Id" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                                <form action="/Admin/UserRoleDelete" method="post" class="d-inline">
                                    <input type="hidden" name="Id" value="@role.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>No Role</h3>
                    </div>
                }
            </tbody>
        </table>
    </div>
</div>